.card {
    position: relative;
    width: 100%;
}

.image {
  width: 100%;
  transition: .5s ease;
}

.middle {
  position: absolute;
  top: 75%;
  left: 70%;
}


.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


  @media screen and (max-width: 600px) {

    .middle {
      top: 60%;
      left: 60%;
    }

    .text {
      font-size: 8px;
      padding: 13px 29px;
    }



  }
