.card {
    width: 40%;
    background: #373d47;
}

.card #story-image {
  width: 100%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.text {
  font-family: 'Raleway', sans-serif;
  color: #f984cc;
  padding: 2%;
  font-size: 30px;
}

/* Add some padding inside the card container */
.info {
    padding: 2px 16px;
    color: white;
    width: 100%
}



.credentials h4 {
  padding-left: 60px;
  font-family: 'Raleway', sans-serif;

}

.credentials p {
  padding-left: 60px;

}

#avatar {

    float:left;
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: url('http://i.stack.imgur.com/Dj7eP.jpg');

    /*add borders*/

    border-style: solid;
    border-width: medium;

    /* make a square container */
    width: 50px;
    height: 50px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .card {
    width:100%;
    font-size: 50%;
    position: relative;
  }

  .middle {
    position: absolute;
    top: 50%;
    left: 60%;
  }

  .text {
  background-color: rgba(38, 38, 38, .5);
  color: white;
  font-size: 16px;
  padding: 10px 32px;

  }

  .info {
    display: none;
  }

  .card #story-image {
  max-width: 100%;
  }

}
